.weather-card {
    
    margin : 100px;
    border: 1px solid #ccc;
    background-color: #42a5f5;
  border-radius: 15px;
  padding: 20px;
  max-width: 280px;
 
  text-align: center;
  box-shadow: 0px 0px 20px rgba(10, 10, 10, 1);
  font-family: 'Segoe UI', sans-serif;
}

.weather-card h2 {
  font-size: 24px;
  margin-bottom: 10px;
}
.weather-card img {
  width: 80px;
  height: 80px;
}

.weather-card .temp {
  font-size: 2.5rem;
  color: #0077ff;
  font-weight: bold;
  margin: 10px 0;
}

.weather-card .description {
  font-size: 1rem;
  color: #666;
  text-transform: capitalize;
}